In [3]:
import pandas as pd
from sodapy import Socrata
from api_keys import my_app_token
from api_keys import chicago_password
from api_keys import chicago_username
import hvplot.pandas
import numpy as np

In [4]:
client = Socrata("data.cityofchicago.org",
                my_app_token,
                username=chicago_username,
                password=chicago_password)

ride_results = client.get("m6dm-c72p", limit=300)

# Convert to pandas DataFrame
ride_results_df = pd.DataFrame.from_records(ride_results)

ride_results_df

,trip_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tip,additional_charges,...,shared_trip_authorized,trips_pooled,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract
0,75db810a4487790612d0fdfd06ac596eadd75b81,2022-08-14T22:30:00.000,2022-08-14T22:45:00.000,556,4.0781,22,24,12.5,0,3.68,...,False,1,41.9227606205,-87.6991553432,"{'type': 'Point', 'coordinates': [-87.69915534...",41.9012069941,-87.6763559892,"{'type': 'Point', 'coordinates': [-87.67635598...",NaN,NaN
1,75db89c1a9dfe1e948c976e10a94c1d62115fedf,2022-08-19T19:45:00.000,2022-08-19T20:00:00.000,1490,6.38,16,25,25,0,1.81,...,False,1,41.9535821253,-87.7234523905,"{'type': 'Point', 'coordinates': [-87.72345239...",41.8906088526,-87.7560467111,"{'type': 'Point', 'coordinates': [-87.75604671...",NaN,NaN
2,75db8aceced6653e671e161a0bb8ffe34c5504d9,2022-08-11T13:15:00.000,2022-08-11T13:30:00.000,973,1.69,47,51,12.5,0,1.81,...,False,1,41.7281820611,-87.5964755956,"{'type': 'Point', 'coordinates': [-87.59647559...",41.7157609069,-87.5748881668,"{'type': 'Point', 'coordinates': [-87.57488816...",17031470100,17031510300
3,75db8b90687358fbf8d318faca40904fef8aa5ec,2022-08-04T14:00:00.000,2022-08-04T14:00:00.000,249,1.01,41,41,10,0,1.81,...,False,1,41.7904693995,-87.6012851221,"{'type': 'Point', 'coordinates': [-87.60128512...",41.7905062613,-87.5831437169,"{'type': 'Point', 'coordinates': [-87.58314371...",17031836200,17031411000
4,75db8d7bd0a0ab3df2502fd1b699b2bbc62a5f3d,2022-08-04T09:15:00.000,2022-08-04T09:15:00.000,386,1.0805,8,8,7.5,0,4.66,...,False,1,41.899602111,-87.6333080367,"{'type': 'Point', 'coordinates': [-87.63330803...",41.899602111,-87.6333080367,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,75dee188d88e3386416205db820e88abb93caa4c,2022-08-02T20:45:00.000,2022-08-02T21:00:00.000,724,7.03,12,24,12.5,4,1.81,...,False,1,41.9939301285,-87.7583535876,"{'type': 'Point', 'coordinates': [-87.75835358...",41.9012069941,-87.6763559892,"{'type': 'Point', 'coordinates': [-87.67635598...",NaN,NaN
296,75dee25f8b32345573b088a4f3c9a79b67f54b75,2022-08-06T17:30:00.000,2022-08-06T17:45:00.000,673,4.7086,7,3,27.5,0,3.59,...,False,1,41.9146162864,-87.6317173661,"{'type': 'Point', 'coordinates': [-87.63171736...",41.9581548757,-87.6530217894,"{'type': 'Point', 'coordinates': [-87.65302178...",17031071500,17031032100
297,75dee437e1626ef3e0a2765996fc1200acabb3f0,2022-08-06T14:00:00.000,2022-08-06T14:15:00.000,785,3.4157,6,22,10,0,3.27,...,False,1,41.9346591566,-87.6467297286,"{'type': 'Point', 'coordinates': [-87.64672972...",41.9159097884,-87.6838259399,"{'type': 'Point', 'coordinates': [-87.68382593...",17031063400,17031222200
298,75dee46c1e4e453a70df70ab892bdecf481282d1,2022-08-23T15:15:00.000,2022-08-23T15:45:00.000,2215,11.08,5,35,22.5,0,1.81,...,False,1,41.9477915865,-87.6838349425,"{'type': 'Point', 'coordinates': [-87.68383494...",41.8351179863,-87.6186777673,"{'type': 'Point', 'coordinates': [-87.61867776...",NaN,NaN
299,75dee5ad91208b349b5d62df34b87fb63b895979,2022-08-03T23:00:00.000,2022-08-03T23:15:00.000,662,2.41,21,20,7.5,0,1.81,...,False,1,41.9386661962,-87.7112105933,"{'type': 'Point', 'coordinates': [-87.71121059...",41.9243470769,-87.7347397536,"{'type': 'Point', 'coordinates': [-87.73473975...",NaN,NaN

In [5]:
drop = ["pickup_census_tract",
        "dropoff_census_tract",
        "shared_trip_authorized",
        "trips_pooled",
        "pickup_centroid_location",
        "dropoff_centroid_location"]

ride_df = ride_results_df.drop(drop, axis=1)
ride_df['pickup_centroid_latitude'] = ride_df['pickup_centroid_latitude'].astype(float)
ride_df['pickup_centroid_longitude'] = ride_df['pickup_centroid_longitude'].astype(float)
ride_df['dropoff_centroid_latitude'] = ride_df['dropoff_centroid_latitude'].astype(float)
ride_df['dropoff_centroid_longitude'] = ride_df['dropoff_centroid_longitude'].astype(float)

ride_df.rename(columns={'pickup_centroid_latitude': 'pickup_lat',
                         'pickup_centroid_longitude': 'pickup_lon',
                         'dropoff_centroid_latitude': 'dropoff_lat',
                         'dropoff_centroid_longitude': 'dropoff_lon'
                         }, inplace=True)

ride_df

,trip_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tip,additional_charges,trip_total,pickup_lat,pickup_lon,dropoff_lat,dropoff_lon
0,75db810a4487790612d0fdfd06ac596eadd75b81,2022-08-14T22:30:00.000,2022-08-14T22:45:00.000,556,4.0781,22,24,12.5,0,3.68,16.18,41.922761,-87.699155,41.901207,-87.676356
1,75db89c1a9dfe1e948c976e10a94c1d62115fedf,2022-08-19T19:45:00.000,2022-08-19T20:00:00.000,1490,6.38,16,25,25,0,1.81,26.81,41.953582,-87.723452,41.890609,-87.756047
2,75db8aceced6653e671e161a0bb8ffe34c5504d9,2022-08-11T13:15:00.000,2022-08-11T13:30:00.000,973,1.69,47,51,12.5,0,1.81,14.31,41.728182,-87.596476,41.715761,-87.574888
3,75db8b90687358fbf8d318faca40904fef8aa5ec,2022-08-04T14:00:00.000,2022-08-04T14:00:00.000,249,1.01,41,41,10,0,1.81,11.81,41.790469,-87.601285,41.790506,-87.583144
4,75db8d7bd0a0ab3df2502fd1b699b2bbc62a5f3d,2022-08-04T09:15:00.000,2022-08-04T09:15:00.000,386,1.0805,8,8,7.5,0,4.66,12.16,41.899602,-87.633308,41.899602,-87.633308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,75dee188d88e3386416205db820e88abb93caa4c,2022-08-02T20:45:00.000,2022-08-02T21:00:00.000,724,7.03,12,24,12.5,4,1.81,18.31,41.993930,-87.758354,41.901207,-87.676356
296,75dee25f8b32345573b088a4f3c9a79b67f54b75,2022-08-06T17:30:00.000,2022-08-06T17:45:00.000,673,4.7086,7,3,27.5,0,3.59,31.09,41.914616,-87.631717,41.958155,-87.653022
297,75dee437e1626ef3e0a2765996fc1200acabb3f0,2022-08-06T14:00:00.000,2022-08-06T14:15:00.000,785,3.4157,6,22,10,0,3.27,13.27,41.934659,-87.646730,41.915910,-87.683826
298,75dee46c1e4e453a70df70ab892bdecf481282d1,2022-08-23T15:15:00.000,2022-08-23T15:45:00.000,2215,11.08,5,35,22.5,0,1.81,24.31,41.947792,-87.683835,41.835118,-87.618678
299,75dee5ad91208b349b5d62df34b87fb63b895979,2022-08-03T23:00:00.000,2022-08-03T23:15:00.000,662,2.41,21,20,7.5,0,1.81,9.31,41.938666,-87.711211,41.924347,-87.734740

In [6]:
#Convert timestamp columns to data type = datetime
ride_df['trip_start_timestamp'] = pd.to_datetime(ride_df['trip_start_timestamp'])
ride_df['trip_end_timestamp'] = pd.to_datetime(ride_df['trip_end_timestamp'])

#split out timestamp into new columns date, time
ride_df['start_date'] = ride_df['trip_start_timestamp'].dt.date
ride_df['start_time'] = ride_df['trip_start_timestamp'].dt.time
ride_df['end_date'] = ride_df['trip_end_timestamp'].dt.date
ride_df['end_time'] = ride_df['trip_end_timestamp'].dt.time

In [8]:
#remove NaN rows
ride_df = ride_df.dropna(how='any')
ride_df

,trip_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tip,additional_charges,trip_total,pickup_lat,pickup_lon,dropoff_lat,dropoff_lon,start_date,start_time,end_date,end_time
0,75db810a4487790612d0fdfd06ac596eadd75b81,2022-08-14 22:30:00,2022-08-14 22:45:00,556,4.0781,22,24,12.5,0,3.68,16.18,41.922761,-87.699155,41.901207,-87.676356,2022-08-14,22:30:00,2022-08-14,22:45:00
1,75db89c1a9dfe1e948c976e10a94c1d62115fedf,2022-08-19 19:45:00,2022-08-19 20:00:00,1490,6.38,16,25,25,0,1.81,26.81,41.953582,-87.723452,41.890609,-87.756047,2022-08-19,19:45:00,2022-08-19,20:00:00
2,75db8aceced6653e671e161a0bb8ffe34c5504d9,2022-08-11 13:15:00,2022-08-11 13:30:00,973,1.69,47,51,12.5,0,1.81,14.31,41.728182,-87.596476,41.715761,-87.574888,2022-08-11,13:15:00,2022-08-11,13:30:00
3,75db8b90687358fbf8d318faca40904fef8aa5ec,2022-08-04 14:00:00,2022-08-04 14:00:00,249,1.01,41,41,10,0,1.81,11.81,41.790469,-87.601285,41.790506,-87.583144,2022-08-04,14:00:00,2022-08-04,14:00:00
4,75db8d7bd0a0ab3df2502fd1b699b2bbc62a5f3d,2022-08-04 09:15:00,2022-08-04 09:15:00,386,1.0805,8,8,7.5,0,4.66,12.16,41.899602,-87.633308,41.899602,-87.633308,2022-08-04,09:15:00,2022-08-04,09:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,75dee188d88e3386416205db820e88abb93caa4c,2022-08-02 20:45:00,2022-08-02 21:00:00,724,7.03,12,24,12.5,4,1.81,18.31,41.993930,-87.758354,41.901207,-87.676356,2022-08-02,20:45:00,2022-08-02,21:00:00
296,75dee25f8b32345573b088a4f3c9a79b67f54b75,2022-08-06 17:30:00,2022-08-06 17:45:00,673,4.7086,7,3,27.5,0,3.59,31.09,41.914616,-87.631717,41.958155,-87.653022,2022-08-06,17:30:00,2022-08-06,17:45:00
297,75dee437e1626ef3e0a2765996fc1200acabb3f0,2022-08-06 14:00:00,2022-08-06 14:15:00,785,3.4157,6,22,10,0,3.27,13.27,41.934659,-87.646730,41.915910,-87.683826,2022-08-06,14:00:00,2022-08-06,14:15:00
298,75dee46c1e4e453a70df70ab892bdecf481282d1,2022-08-23 15:15:00,2022-08-23 15:45:00,2215,11.08,5,35,22.5,0,1.81,24.31,41.947792,-87.683835,41.835118,-87.618678,2022-08-23,15:15:00,2022-08-23,15:45:00
299,75dee5ad91208b349b5d62df34b87fb63b895979,2022-08-03 23:00:00,2022-08-03 23:15:00,662,2.41,21,20,7.5,0,1.81,9.31,41.938666,-87.711211,41.924347,-87.734740,2022-08-03,23:00:00,2022-08-03,23:15:00

In [10]:
ride_df.count()

trip_id                   252
trip_start_timestamp      252
trip_end_timestamp        252
trip_seconds              252
trip_miles                252
pickup_community_area     252
dropoff_community_area    252
fare                      252
tip                       252
additional_charges        252
trip_total                252
pickup_lat                252
pickup_lon                252
dropoff_lat               252
dropoff_lon               252
start_date                252
start_time                252
end_date                  252
end_time                  252
dtype: int64

In [2]:
# client_taxi = Socrata("data.cityofchicago.org",
#                 my_app_token,
#                 username=chicago_username,
#                 password=chicago_password)

# taxi_results = client_taxi.get("wrvz-psew", limit=300)
# # taxi_results = client.get("wrvz-psew", limit=300)

# # Convert to pandas DataFrame
# taxi_df = pd.DataFrame.from_records(taxi_results)

# taxi_df

ReadTimeout: HTTPSConnectionPool(host='data.cityofchicago.org', port=443): Read timed out. (read timeout=10)